<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>955808698323371</sid>
    <event-sheet>menu</event-sheet>
    <size>
        <width>1708</width>
        <height>960</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="557811668984223">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="bkg" uid="16">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>444</x>
                        <y>268</y>
                        <z>0</z>
                        <width>985.403869629</width>
                        <height>707.416320801</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="bullet" uid="17">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>400</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Viewport</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Timer" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>362</x>
                        <y>-23</y>
                        <z>0</z>
                        <width>5</width>
                        <height>5</height>
                        <depth>0</depth>
                        <hotspotX>0.505494535</hotspotX>
                        <hotspotY>0.505494535</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Indian" uid="18">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Viewport</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>100</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>414</x>
                        <y>393</y>
                        <z>0</z>
                        <width>40</width>
                        <height>60</height>
                        <depth>0</depth>
                        <hotspotX>0.569105685</hotspotX>
                        <hotspotY>0.497925311</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="spawner" uid="19">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Viewport</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>400</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>191</x>
                        <y>-54</y>
                        <z>0</z>
                        <width>71.328475952</width>
                        <height>70.394668579</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Split1" uid="20">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Viewport</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>150</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>265</x>
                        <y>-46</y>
                        <z>0</z>
                        <width>25</width>
                        <height>35</height>
                        <depth>0</depth>
                        <hotspotX>0.625</hotspotX>
                        <hotspotY>0.475095779</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="split2" uid="21">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Viewport</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>200</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>296</x>
                        <y>-45</y>
                        <z>0</z>
                        <width>15</width>
                        <height>20</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Score" uid="22">
                    <properties>
                        <text>Score : </text>
                        <initial-visibility>Invisible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>13</x>
                        <y>10</y>
                        <z>0</z>
                        <width>73.109832764</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Ascore" uid="23">
                    <properties>
                        <text></text>
                        <placeholder></placeholder>
                        <tooltip></tooltip>
                        <initial-visibility>Invisible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Text</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>73</x>
                        <y>5</y>
                        <z>0</z>
                        <width>144.868255615</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="CD" uid="24">
                    <properties>
                        <text>Teleport cooldown : </text>
                        <initial-visibility>Invisible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>623</x>
                        <y>10</y>
                        <z>0</z>
                        <width>200</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Acd" uid="25">
                    <properties>
                        <text></text>
                        <placeholder></placeholder>
                        <tooltip></tooltip>
                        <initial-visibility>Invisible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Text</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>773</x>
                        <y>5</y>
                        <z>0</z>
                        <width>42.236755371</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="life" uid="26">
                    <properties>
                        <text>Lives left : </text>
                        <initial-visibility>Invisible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>323</x>
                        <y>10</y>
                        <z>0</z>
                        <width>75.442687988</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Ahp" uid="27">
                    <properties>
                        <text></text>
                        <placeholder></placeholder>
                        <tooltip></tooltip>
                        <initial-visibility>Invisible</initial-visibility>
                        <enabled>Yes</enabled>
                        <read-only>No</read-only>
                        <spell-check>No</spell-check>
                        <type>Text</type>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>398</x>
                        <y>5</y>
                        <z>0</z>
                        <width>150</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="cow" uid="28">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Viewport</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="8Direction">
                            <properties>
                                <max-speed>200</max-speed>
                                <acceleration>600</acceleration>
                                <deceleration>500</deceleration>
                                <directions>8 directions</directions>
                                <set-angle>No</set-angle>
                                <default-controls>No</default-controls>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>335</x>
                        <y>-42</y>
                        <z>0</z>
                        <width>25</width>
                        <height>18</height>
                        <depth>0</depth>
                        <hotspotX>0.501240671</hotspotX>
                        <hotspotY>0.562277555</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Player" uid="29">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Viewport</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="8Direction">
                            <properties>
                                <max-speed>200</max-speed>
                                <acceleration>600</acceleration>
                                <deceleration>500</deceleration>
                                <directions>8 directions</directions>
                                <set-angle>No</set-angle>
                                <default-controls>No</default-controls>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>417</x>
                        <y>264</y>
                        <z>0</z>
                        <width>29.861431122</width>
                        <height>29.760000229</height>
                        <depth>0</depth>
                        <hotspotX>0.487238973</hotspotX>
                        <hotspotY>0.504032254</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer 1" sid="579702359594792">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="panel" uid="39">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>103.403808594</x>
                        <y>280.497497559</y>
                        <z>0</z>
                        <width>475</width>
                        <height>526</height>
                        <depth>0</depth>
                        <hotspotX>0.501052618</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0.286035925</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="title" uid="30">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>428.017913818</x>
                        <y>57.822296143</y>
                        <z>0</z>
                        <width>508.199401855</width>
                        <height>89.673866272</height>
                        <depth>0</depth>
                        <hotspotX>0.500618041</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="controls" uid="32">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>131.452301025</x>
                        <y>151.215240479</y>
                        <z>0</z>
                        <width>144.911651611</width>
                        <height>29.41399765</height>
                        <depth>0</depth>
                        <hotspotX>0.5009709</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0.305055052</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="play" uid="31">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>427.437561035</x>
                        <y>422.85168457</y>
                        <z>0</z>
                        <width>169.008392334</width>
                        <height>60.992004395</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="quit" uid="33">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>811.747314453</x>
                        <y>458.154846191</y>
                        <z>0</z>
                        <width>81.973876953</width>
                        <height>27.890274048</height>
                        <depth>0</depth>
                        <hotspotX>0.502092063</hotspotX>
                        <hotspotY>0.50666666</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="kbm" uid="35">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>74.296470642</x>
                        <y>184.298370361</y>
                        <z>0</z>
                        <width>65.929450989</width>
                        <height>65.837188721</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0.340930462</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="shoot" uid="37">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>126.547096252</x>
                        <y>227.191055298</y>
                        <z>0</z>
                        <width>35.000785828</width>
                        <height>11.707147598</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0.393467426</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="jump" uid="38">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>183.973709106</x>
                        <y>251.582092285</y>
                        <z>0</z>
                        <width>44.178871155</width>
                        <height>17.564762115</height>
                        <depth>0</depth>
                        <hotspotX>0.501628637</hotspotX>
                        <hotspotY>0.50666666</hotspotY>
                        <angle>0.506476104</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="mousse" uid="36">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>145.274108887</x>
                        <y>259.600158691</y>
                        <z>0</z>
                        <width>84.606048584</width>
                        <height>72.015518188</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0.339960963</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Move" uid="40">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>57.537963867</x>
                        <y>224.711898804</y>
                        <z>0</z>
                        <width>64.123298645</width>
                        <height>26.397678375</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0.340911537</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
